*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

/*Mise en forme des titres et paragraphes*/
h1 {
  font-family: var(--font-mono);
  font-size: var(--title-xxl);
  padding-right: 20px;
  padding-left: 20px;
}

h2 {
  font-family: var(--font-mono);
  font-size: var(--title-lg);
  padding-right: 20px;
  padding-left: 20px;
}

h3 {
  font-family: var(--font-mono);
  font-size: var(--title-home);
  padding-right: 20px;
  padding-left: 20px;
}

h4{
  font-family: var(--font-mono);
  font-size: var(--text-tweet);
}

h5{
  font-family: var(--font-home);
  font-size: var(--text-sm);
  padding-right: 20px;
  padding-left: 20px;
  line-height: 20px;
}

h6{
  padding-right: 20px;
  padding-left: 20px;
}
  
p{
  font-family: var(--font-sans-serif);
  font-size: var(--text-tweet);
  padding-right: 20px;
  padding-left: 20px;
}

a{
  color: var(--black);
}

blockquote{
  font-family: var(--font-citation);
  font-size: var(--title-home);
}

.couleurs{
  background-color: var(--pink);
}

.couleurs-fond{
  background-color: var(--white-background);
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link 
{ 
 text-decoration: none; 
 color: black;
} 

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

main{
  position: relative;
  margin-top: 80px;
}

/*Hauteur totale de ligne (texte + interligne) = 2 fois
 *la hauteur du texte*/
.p1, .p2, .p3, .p4, .p5, .p6, .p7{
    line-height: 2em;
}

/*Mise en place des logos des autres projets*/
.projet-gauche{
  margin-left: 20px;
  max-width: 40%;
}

.projet-droite{
  max-width: 40%;
  position: absolute;
  top: 165px;
  left: 200px;
  bottom: 200px;
}

.projet{
  border: thin var(--blue) solid;
  margin-bottom: 30px;
}

/*Mise en couleurs des mots pour le glossaire*/
.mot-glossaire{
  color: var(--pink-3);
}







  