*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding-left: var(--space3x);
  padding-right: var(--space3x);
}

h1 {
  font-family: var(--font-mono);
  font-size: var(--title-xxl);
  padding-right: 20px;
  padding-left: 20px;
}

h2 {
  font-family: var(--font-mono);
  font-size: var(--title-lg);
  padding-right: 20px;
  padding-left: 20px;
}

h3 {
  font-family: var(--font-mono);
  font-size: var(--title-home);
  padding-right: 20px;
  padding-left: 20px;
}

h4{
  font-family: var(--font-mono);
  font-size: var(--text-tweet);
}

h5{
  font-family: var(--font-home);
  font-size: var(--text-sm);
  padding-right: 20px;
  padding-left: 20px;
  line-height: 20px;
}

h6{
  padding-right: 20px;
  padding-left: 20px;
}
  
p{
  font-family: var(--font-sans-serif);
  font-size: var(--text-tweet);
  padding-right: 20px;
  padding-left: 20px;
}

a{
  color: var(--black);
}

blockquote{
  font-family: var(--font-citation);
  font-size: var(--title-home);
}

.couleurs{
  background-color: var(--pink);
}

.bouton{
  font-family: var(--font-bouton);
  font-size: var(--title-home);
  position: relative;
  right: 20px;
  left: 200px;
  display: inline-block;
  background-color: var(--white);
  border: 4px double black;
  color: var(--black);
  text-align: center;
  padding: 10px;
  width: 150px;
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

video{
  right: 20px;
}

.couleurs-fond{
  background-color: var(--white-background);
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link 
{ 
 text-decoration: none; 
 color: black;
} 

.frise{ 
    position: relative;
    left: 157px;
		height: 40px; 
		width: 40px; 
		background-color: var(--pink-3);
		border-radius: 50%;
}

.TexteDroite{
  position: relative;
  padding-right: 20px;
  padding-left: 230px;
  text-align: center 
}

.TexteGauche{
  position: relative;
  padding-right: 20px;
  padding-left: 230px;
  text-align: center 
}

.DateFrise{
  position: relative;
  width  : 112px;
  height : 36px;
  background : var(--pink);
}

.LigneVerticale{
  position: absolute;
  top: 3100px;
  bottom: 200px;
  right: 185px; 
  left: 175px;
  border-left: 4px solid black; 
  height: 900px; 
  display: inline-block;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

main{
  position: relative;
  margin-top: 80px;
}




  