img {
    max-width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  figure {
    margin: 0;
  }
  
  figcaption {
    font-size: var(--text-xs);
    color: var(--gray-600);
  }

  video {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 10px;
  }