:root {
    /* Color styles */
    --brand-violet: rgba(29, 9, 107, 1);
    --brand-violet-light: rgba(140, 131, 197, 1);
    --brand-saumon: rgba(254, 170, 155, 1);
    --brand-saumon-light: rgba(248, 211, 204, 1);
    --gray-black: rgba(0, 0, 0, 1);
    --gray-800: rgba(28, 21, 20, 1);
    --gray-600: rgba(152, 149, 146, 1);
    --gray-200: rgba(233, 231, 228, 1);
    --gray-400: rgba(205, 202, 199, 1);
    --gray-100: rgba(250, 250, 250, 1);
    --gray-white: rgba(255, 255, 255, 1);
    --system-error: rgba(255, 92, 92, 1);
    --system-success: rgba(33, 209, 132, 1);}