.footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    height: 215px;
    padding: var(--space2x) var(--space3x);
  }
  
  .footer a {
    color: var(--gray-600);
    text-decoration: none;
  }

  .footer__address {
    font-family: var(--font-mono);
    font-size: var(--text-tweet);
    font-style: normal;
  }


.footer__title{
  font-family: var( --font-mono);
  font-size: var(--text-tweet);
}