.footer {
    background-color: var(--black);
    color: var(--white);
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
  }
  
  .footer a {
    color: var(--gray-600);
    text-decoration: none;
  }

  .footer__address {
    font-style: normal;
  }