.header{
    background-color: transparent;
}

.header__navigation{
    position: relative; 
    background-color: transparent;
    border: none;
    top: auto;
    left : 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo{
    position: relative; 
    background-color: transparent;
    top: 37px;
    left: 15px;
    width: 228px;
    height: 29px; 
}
