.header{
    background-color: transparent;
}

.header__navigation{
    position: absolute; 
    background-color: transparent;
    border: none;
    top: 20px;
    right: 15px;
    width: 32px;
    height: 32px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo{
    position: relative; 
    background-color: transparent;
    top: 20px;
    left: 15px;
    width: 228px;
    height: 29px; 
}
