/*Mise en forme du formulaire*/
#nom__contact{
    position: relative; 
    margin-left: 60px;
    width: 270px;
    font-family: var(--font-home);
    font-size: var(--text-sm);
}

#prenom__contact {
    position: relative;
    margin-left: 60px;
    width: 270px;
    font-family: var(--font-home);
    font-size: var(--text-sm);
  }
  
#email__contact {
    position: relative;
    margin-left: 60px;
    width: 270px;
    font-family: var(--font-home);
    font-size: var(--text-sm);
  }
  
#message__contact {
    position: relative;
    margin-left: 60px;
    width: 270px;
    height: 90px;
    font-family: var(--font-home);
    font-size: var(--text-sm);
  }

.rectangle {
    position: absolute;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: -10px;
    bottom: 230px;
    width  : 325px;
    height : 440px;
    background : var(--blue);
  }

.formulaire{
  color: white;
}

/*Mise en forme du bouton envoyer*/
.bouton--envoyer{
    font-family: var(--font-bouton);
    font-size: var(--title-home);
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    right: 20px;
    left: 200px;
    display: inline-block;
    background-color: var(--white);
    border: 4px double black;
    color: var(--black);
    text-align: center;
    padding: 10px;
    width: 140px;
  }