* {
  box-sizing: border-box;
}

.timeline{
  margin-left: 20px;
  margin-bottom: 50px;
}

.timeline-object {
  display: flex;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.timeline-object.complete::after {
  content: '';
  display: block;
  position: absolute;
  
  width: 4px;
  height: 150px;
  background-color: var(--pink-2);
  
  left: 23px;
  top: 50px;
  transform: translateX(-50%);
}

.timeline-status {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: var(--pink-2);
}

.timeline-content {
  margin-left: 15px;
}

.timeline-content h3 {
  color: var(--black);
  background: var(--pink);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.timeline-content span {
  color: var(--black);
  font-size: var(--title-home);
}

span{
  font-family: var(--font-bouton);
}
