*{box-sizing:border-box}

.galerie{

max-width: 90%;

}

.target{

display: none

}


/* englobe le slider */

.cadre_diapo{

max-width: 600px;
margin: 2rem auto;
overflow: hidden;
	
	}

.interieur_diapo{
	
display: flex;
margin-left: 30px;
width: 400%;
transition: transform .6s ease-in-out
	
	}

.description{

position: relative;

}

.description span{

position: absolute;
left: 0;
top: 2%;
font-size: 75%;
display: flex;
padding: .5rem;
justify-content: center;
color: white;
background: hsla(0,0%,0%,.35)
	
	}
	
	
#id1:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(0%)

}/*image 1*/

#id2:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(-23%)

}/*image 2*/

#id3:target ~ .cadre_diapo .interieur_diapo{

transform:translatex(-46%)

}/*image 3*/


/*navigation avec images miniatures*/
.navigation_diapo{
	
display: flex; 
list-style-type: none;
margin: 0;
padding: 0
	
	}

.navigation_diapo li {
	
	padding: .25rem;
	
	}

.navigation_diapo img{

border: 3px solid white;
box-shadow:0 0 5px hsla(0,0%,0%,.4);

	
	}
	

	

  