.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right : 0;
  background-color: var(--pink-2);
  font-size: var(--font-mono);
  transition: all .4s ease-in-out;
}

.menu--open {
  visibility: visible;
  opacity: 1;
}

/* Mise en forme des éléments du menu */
.menu__list {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.menu__item {
  margin-top: 15%;
}

.menu__link {
  font-size: var(--title-xl);
  font-family: var(--font-mono);
  color: black;
  text-decoration: none;
}

/* Mise en forme du bouton de menu "Hamburger" */
.menu-btn {
  position: relative;
  z-index: 3;
  width: 30px;  
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: '';
  background: var(--black);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  transition: all .4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}

/*Mise en forme des boutons de langues*/
.langue__fr{
  position: absolute;
  top: 20px; 
  left: 20px; 
}

.langue__eng{
  position: absolute;
  top: 20px; 
  left: 60px; 
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::before,
.header--atTop .menu-btn:not(.menu-btn--open) .menu-btn__bar::after {
  background-color: var(--black);
}


